<% next_pending = @plan.delivery_plan_assignments.order(:stop_order).pending.first %>
<%= turbo_stream.replace "assignment_#{@assignment.id}",
    partial: "driver/delivery_plans/assignment",
    locals: { assignment: @assignment } %>
<%= turbo_stream.replace "driver_progress_counter" do %>
  <span class="small text-muted">
    <%= render "driver/delivery_plans/progress_counter", plan: @plan %>
  </span>
<% end %>
<%= turbo_stream.append "driver_scroll_anchor" do %>
  <div data-controller="driver-route"
       data-driver-route-next-assignment-id-value="<%= next_pending&.id %>"></div>
<% end %>