<!-- app/views/deliveries/edit.html.erb -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2><i class="bi bi-pencil-square"></i> Editar Entrega #<%= @delivery.id %></h2>
        <%= link_to @delivery, class: "btn btn-outline-secondary" do %>
          <i class="bi bi-arrow-left"></i> Volver
        <% end %>
      </div>
      <%= simple_form_for @delivery, html: { 
            class: "needs-validation", 
            novalidate: true,
            data: { controller: "delivery-form" }
          } do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="row">
          <%= render 'deliveries/partials/client_info', client: @client, order: @order %>
          <%= render 'deliveries/partials/delivery_data', f: f, addresses: @addresses, client: @client %>
        </div>
        <%= render 'deliveries/partials/products_section', f: f %>
        <!-- Botones de Acción -->
        <div class="d-flex justify-content-between">
          <%= link_to @delivery, class: "btn btn-secondary" do %>
            <i class="bi bi-x"></i> Cancelar
          <% end %>
          <%= f.button :submit, "Guardar Cambios", class: "btn btn-primary" do %>
            <i class="bi bi-save"></i> Guardar Cambios
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>