<div class="container-fluid py-3" data-controller="offline-queue driver-tracker">
  <%= render "driver/delivery_plans/alerts", delivery_plan: @delivery_plan %>
  <%= render "driver/delivery_plans/header", delivery_plan: @delivery_plan %>
  <div class="row g-3 mb-3">
    <div class="col-12">
      <%= render "driver/delivery_plans/general_info", delivery_plan: @delivery_plan %>
    </div>
    <div class="col-12">
      <%= render "driver/delivery_plans/crew", delivery_plan: @delivery_plan %>
    </div>
  </div>
  <%= render "driver/delivery_plans/progress", delivery_plan: @delivery_plan, assignments: @delivery_plan.assignments  %>
  <div class="mb-3">
    <h5 class="mb-3">
      <i class="bi bi-truck-flatbed me-2"></i>
      Entregas de hoy
    </h5>
    <% if @assignments.any? %>
      <div class="row g-3">
        <% @assignments.each do |assignment| %>
          <div class="col-12">
            <%= render "driver/delivery_plans/assignment_card", 
                       assignment: assignment, 
                       delivery_plan: @delivery_plan %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-info">
        <i class="bi bi-info-circle me-2"></i>
        No hay entregas asignadas para este plan.
      </div>
    <% end %>
  </div>
  <%= render "driver/delivery_plans/map", assignments: @assignments %>
  <div class="d-grid gap-2 mt-4">
    <%= link_to driver_delivery_plans_path, class: "btn btn-secondary" do %>
      <i class="bi bi-arrow-left me-2"></i>Volver a mis rutas
    <% end %>
  </div>
</div>