<!-- app/views/deliveries/_new_address_form.html.erb -->
<button type="button" class="btn btn-link p-0 mt-2" data-bs-toggle="collapse" data-bs-target="#nueva-direccion-form">
  <i class="bi bi-plus-circle"></i> Agregar nueva direcci贸n
</button>
<div class="collapse mt-2" id="nueva-direccion-form">
  <div class="card card-body">
    <%= simple_form_for DeliveryAddress.new, url: delivery_addresses_path, method: :post, html: { id: "new-address-form" } do |af| %>
      <%= af.input :address, label: "Direcci贸n", required: true %>
      <%= af.input :description, label: "Descripci贸n (opcional)" %>
      <%= af.input :client_id, as: :hidden, input_html: { value: client.id } %>
      <%= af.button :submit, "Guardar direcci贸n", class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>