<%= render "delivery_plans/edit_partials/header", delivery_plan: @delivery_plan %>
<div class="row">
  <!-- Panel principal Tabs -->
  <div class="col-md-9">
    <ul class="nav nav-tabs mb-3" id="planTabs" role="tablist">
      <li class="nav-item">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#assignment" type="button">
          <i class="bi bi-person-badge me-1"></i> Conductor
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#stops" type="button">
          <i class="bi bi-list-ol me-1"></i> Paradas
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#map" type="button">
          <i class="bi bi-map me-1"></i> Mapa
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#addDelivery" type="button">
          <i class="bi bi-plus-circle me-1"></i> Agregar parada
        </button>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="assignment">
        <%= render "delivery_plans/edit_partials/form_assignment", delivery_plan: @delivery_plan %>
      </div>
      <div class="tab-pane fade" id="stops">
        <%= render "delivery_plans/edit_partials/stops", assignments: @assignments, delivery_plan: @delivery_plan %>
      </div>
      <div class="tab-pane fade" id="map">
        <%= render "delivery_plans/edit_partials/map", assignments: @assignments %>
      </div>
      <div class="tab-pane fade" id="addDelivery">
        <%= render "delivery_plans/edit_partials/add_delivery", available_deliveries: @available_deliveries, delivery_plan: @delivery_plan %>
      </div>
    </div>
  </div>
  <!-- Sidebar resumen -->
  <div class="col-md-3">
    <%= render "delivery_plans/edit_partials/sidebar_summary", assignments: @assignments, delivery_plan: @delivery_plan %>
  </div>
</div>