<%= simple_form_for([:admin, @user]) do |f| %>
  <div class="row g-3">
    <div class="col-md-6">
      <%= f.input :name %>
    </div>
    <div class="col-md-6">
      <%= f.input :email %>
    </div>
    <div class="col-md-6">
      <%= f.input :role,
        collection: User.roles.keys.map { |r| [User.new(role: r).display_role, r] },
        include_blank: false %>
    </div>
    <div class="col-md-6 d-flex align-items-end">
      <%= f.input :send_notifications,
          as: :boolean,
          label: "Recibir notificaciones" %>
    </div>
    <div class="col-md-6">
      <%= f.input :password,
          required: false,
          hint: (@user.persisted? ? "Déjalo en blanco para no cambiarla" : "Se enviará correo para establecer contraseña") %>
    </div>
    <div class="col-md-6">
      <%= f.input :password_confirmation, required: false %>
    </div>
    <% if @user.seller? || @user.new_record? || @user.role == "seller" %>
      <div class="col-md-6">
        <%= f.input :seller_code,
          label: "Código de vendedor",
          input_html: { value: @user.seller&.seller_code } %>
      </div>
    <% end %>
  </div>
  <hr class="my-4">
  <div class="d-flex justify-content-end gap-2">
    <%= link_to "Cancelar", admin_users_path, class: "btn btn-outline-secondary" %>
    <%= f.button :submit, class: "btn btn-primary px-4" %>
  </div>
<% end %>