<!-- Navbar links partial -->
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <%= link_to root_path, class: "nav-link" do %>
      <i class="bi bi-speedometer2 me-1"></i> Dashboard
    <% end %>
  </li>
  <% if current_user.admin? || current_user.production_manager? %>
    <li class="nav-item">
      <%= link_to orders_path, class: "nav-link" do %>
        <i class="bi bi-box-seam me-1"></i> Pedidos
      <% end %>
    </li>
  <% end %>
  <li class="nav-item">
    <%= link_to deliveries_path, class: "nav-link" do %>
      <i class="bi bi-truck me-1"></i> Entregas
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to delivery_plans_path, class: "nav-link" do %>
      <i class="bi bi-calendar-check me-1"></i> Planes de Entrega
    <% end %>
  </li>
  <% if current_user.admin? || current_user.production_manager? %>
    <li class="nav-item">
      <%= link_to production_delivery_plans_path, class: "nav-link" do %>
        <i class="bi bi-truck-front me-1"></i> Carga a camiones
      <% end %>
    </li>
  <% end %>
  <% if current_user.admin? || current_user.production_manager? %>
    <li class="nav-item">
      <%= link_to new_delivery_import_path, class: "nav-link" do %>
        <i class="bi bi-file-earmark-arrow-up me-1"></i> Importar Excel
      <% end %>
    </li>
  <% end %>
  <% if current_user.admin? %>
    <li><span class="nav-link disabled px-2">|</span></li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="catalogosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-collection me-1"></i> Catálogos
      </a>
      <ul class="dropdown-menu" aria-labelledby="catalogosDropdown">
        <li>
          <%= link_to clients_path, class: "dropdown-item" do %>
            <i class="bi bi-people me-1"></i> Clientes
          <% end %>
        </li>
        <li>
          <%= link_to sellers_path, class: "dropdown-item" do %>
            <i class="bi bi-person-badge me-1"></i> Vendedores
          <% end %>
        </li>
      </ul>
    </li>
    <% if policy(:audit_log).index? %>
      <li class="nav-item">
        <%= link_to audit_logs_path, class: 'nav-link' do %>
          <i class="bi bi-clock-history me-1"></i> Log de cambios
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>