<!DOCTYPE html>
<html>
  <head>
    <title>NaLakalu - Rutas de Entrega</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- CSS compilado -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <!-- JavaScript con Importmap -->
    <%= javascript_importmap_tags %>
    <!-- Google Maps -->
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&libraries=places&callback=Function.prototype", async: true, defer: true %>
  </head>
  <body class="bg-light" data-controller="bootstrap">
    <!-- 🚩 Navbar persistente (no se destruye con Turbo) -->
    <div id="navbar-container" data-turbo-permanent>
      <%= render "layouts/navbar" %>
    </div>
    <main class="container-fluid mt-4">
      <%= render "layouts/flashes" %>
      <%= yield %>
    </main>
    <!-- Modal global controlado por Stimulus -->
    <div class="modal fade" id="noteModal" tabindex="-1" aria-hidden="true" data-controller="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <turbo-frame id="note_modal"></turbo-frame>
        </div>
      </div>
    </div>
    <!-- Expone la API key al front -->
    <script>
      window.GOOGLE_MAPS_API_KEY = "<%= ENV['GOOGLE_MAPS_API_KEY'] %>";
    </script>
  </body>
</html>