<%# app/views/deliveries/internal_delivery_partials/_vendor_select_fields.html.erb %>
<div class="card shadow-sm border-primary mb-4"
     data-controller="vendor-address-select"
     data-vendor-address-select-url-template-value="<%= edit_admin_vendor_path(0).sub("0", "__ID__") %>">
  <div class="card-header bg-primary text-white py-3 d-flex justify-content-between align-items-center">
    <h5 class="mb-0"><i class="bi bi-truck me-2"></i>Dirección del proveedor</h5>
    <%= link_to new_admin_vendor_path, data: {turbo_frame: "modal"}, class: "btn btn-sm btn-light" do %>
      <i class="bi bi-plus-lg me-1"></i>Nuevo proveedor
    <% end %>
  </div>
  <div class="card-body">
    <div id="vendor_address_select_container">
      <%= render "deliveries/internal_delivery_partials/vendor_address_select" %>
    </div>
    <%= link_to "Editar este proveedor", "#",
          class: "small d-none",
          data: {
            turbo_frame: "modal",
            "vendor-address-select-target": "editVendorLink"
          } %>
  </div>

  <%= hidden_field_tag "delivery_address[address]",
        f.object.delivery_address&.address,
        data: {"vendor-address-select-target": "address"} %>
  <%= hidden_field_tag "delivery_address[description]",
        f.object.delivery_address&.description,
        data: {"vendor-address-select-target": "description"} %>
  <%= hidden_field_tag "delivery_address[latitude]",
        f.object.delivery_address&.latitude,
        data: {"vendor-address-select-target": "latitude"} %>
  <%= hidden_field_tag "delivery_address[longitude]",
        f.object.delivery_address&.longitude,
        data: {"vendor-address-select-target": "longitude"} %>
  <%= hidden_field_tag "delivery_address[plus_code]",
        f.object.delivery_address&.plus_code,
        data: {"vendor-address-select-target": "plusCode"} %>
</div>
